.containerPost {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.containerPost .visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Gallery Section */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}

.containerPost .gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.containerPost .gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.containerPost .gallery-item:hover .gallery-item-info,
.containerPost .gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.containerPost .gallery-item-info {
  display: none;
}

.containerPost .gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
}

.containerPost .gallery-item-likes {
  margin-right: 2.2rem;
}

.containerPost .gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.containerPost .gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@supports (display: grid) {
  .containerPost .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
  }

  .containerPost .gallery-item,
  .containerPost .gallery {
    width: 100%;
    margin: 0;
  }
}
